.info {
    position: fixed;
    overflow-y: scroll;
    background-image: url("../contactsimages/fon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    color: #AAAAAA;
    margin: 0;
    padding: 0;
    width: 31%;
    min-width: 500px;
    left: -1000px;
    height: 100vh;
}

.info::-webkit-scrollbar {
    display: none;
}

.info_container {
    width: 70%;
    height: 100%;
    margin: auto;
}

h1, h3 {
    color: white;
}

.addition_header {
    color: #aaaaaa;
}

.info_image {
    width: 100%;
    height: 60vh;
    background-image: url("../infimages/7.1.jpg");
    background-repeat: no-repeat;
    object-fit: contain;
    transition: all 0.5s ease-in-out;
}

.info_image:hover {
    background-image: url("../infimages/7.2.jpg");
}

.flex_container {
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.info_skills {
    width: 15%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
}

.first_skill {
     background-image: url("../infimages/2.1.jpg");
}

.first_skill:hover {
    background-image: url("../infimages/2.2.jpg");
}

.second_skill {
    background-image: url("../infimages/6.1.jpg");
}

.second_skill:hover {
    background-image: url("../infimages/6.2.jpg");
}

.third_skill {
    background-image: url("../infimages/3.1.jpg");
}

.third_skill:hover {
    background-image: url("../infimages/3.2.jpg");
}

.fourth_skill {
    background-image: url("../infimages/4.1.jpg");
}

.fourth_skill:hover {
    background-image: url("../infimages/4.2.jpg");
}

.fifth_skill {
    background-image: url("../infimages/5.1.jpg");
}

.fifth_skill:hover {
    background-image: url("../infimages/5.2.jpg");
}

.sixth_skill {
    background-image: url("../infimages/1.1.jpg");
}

.sixth_skill:hover {
    background-image: url("../infimages/1.2.jpg");
}

.addition {
    margin-bottom: 200px;
}
